.btn {
  min-height: 31.938rem; /*  510px */
  min-width: 19.438rem; /* 311px */
  max-width: 19.438rem; /* 311px */
  height: 34.375rem;
  background-color: #ffff;
  border-radius: 10px;
  border: 2px solid #00bf63;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  /* background-color: #ffff; */
  /* background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  width: 100%;
  border-radius: 10px; */
}

.textColor {
  color: #000;
}

.title {
  color: #000;
  margin-top: 1rem;
}

.infoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  text-wrap: balance;
  /* gap: 1rem; */
}

.p {
  height: 100%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.img {
  margin-top: 1rem;
  height: 200px;
  width: 100%;
}
