@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

:root {
  --background-primary: #ffffff;
  --background-home: #fe5000;
  --nav-card-background-color: #ff66c4;
  --dark-blue: #077386;
  --cyan: #0cc0df;
  --light-green: #00bf63;
  --black: #000000;
  --red: #c80000;
  --dark-green: #04814f;
}

h1,
h2 {
  color: var(--Text, #000);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  /*Maybe remove*/
  text-align: center;
}

h3 {
  color: var(--Text, #000);
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quote {
  color: var(--Text, #000);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--Text, #000);

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
