.header {
  width: 100%;
  max-width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  overflow-x: clip;
}
.navWrapper {
  padding-inline: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  position: relative;
}
.navWrapperActive {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}
.motionNav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  z-index: 5;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 64px;
  height: 64px;
}
