.header {
  width: 100%;
  max-width: 100vw;
  position: sticky;
  height: 0;
  top: 0;
  left: 0;
  --x-to: -100%;
  --x-from: 0%;
}
.navWrapper {
  padding-inline: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  position: relative;
  overflow-x: clip;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}
.navWrapperActive {
  background-color: white;
}
.motionNav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 100%;
  /*background-color: rgba(255, 255, 255, 0.15);*/
  backdrop-filter: blur(10px);
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 64px;
  height: 64px;
}
.iconButton {
  background-color: transparent;
  border: none;
}
.links {
  font-size: 24px;
}
.lastLink {
  height: 64px;
}
@media screen and (min-width: 640px) {
  .header {
    --x-to: 0%;
    --x-from: 0%;
  }

  .motionNav {
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    position: static;
    gap: 2rem;
    backdrop-filter: initial;
  }
  .iconButton {
    display: none;
  }
  .buttonContainer {
    display: none;
  }
  .lastLink {
    height: fit-content;
  }
}
